/* Header Navbar */
header .navbar {
	background-color: #5865f2;
}

/* Header Toggler Button */
header .navbar-toggler {
	border-radius: 20px !important;
}

@media (max-width: 576px) {
	/* Navbar Login Button */
	.navbar-text {
		display: none !important;
	}

	/* Navbar Login Link */
	.navbar-login {
		visibility: visible !important;
	}
}